<div class="container text-center">
    <div class="row">
        <div class="col">
            <h3>Input Job Information</h3>
        </div>
    </div>

    <div class="row">

        <!-- Enter Job Data Form -->
        <div class="col bg-info" id="project-info-form">
            <form id="project-info">
                <div class="form-group">
                    {{!-- Inquiry to enter project ID --}}
                    <label for="project-select">Select your project</label>
                    <select data-placeholder="" class="form-control user-selection" id="project-id">
                    {{#each projects}}
                    <option value="{{id}}">{{project_name}}</option>
                    {{/each}}
                    </select>
                    <br>
                    {{!-- Hours on Job --}}
                    <label for="project-hours">How many hours did this job take?</label>
                    <input type="text" id="project-hours">
                    <br>
                    {{!-- Workers on Job --}}
                    <label for="project-workers">How many workers were on this job?</label>
                    <input type="text" id="project-workers">
                    <br>
                    {{!-- Material Costs --}}
                    <label for="project-workers">What is your estimated cost of materials?</label>
                    <input type="text" id="project-materialcosts">
                    <br>
                    {{!-- Job Comments --}}
                    <label for="project-jobcomments">Do you have any comments for this job?</label>
                    <input type="text" id="project-jobcomments">
                </div>
                {{!-- Submit Info  --}}
                <button type="submit">Input Project Data</button>
            </form>
        </div>

    </div>

</div>