<link rel="stylesheet" href="/styles/selectView.css">
<div class="container" id="box1">
    <div class="container" id="box11">
        <div class="container" id="box2">
            <div class="container" id="box3">
                <h3>Select Your Page View</h3>
            </div>
        </div>
        <br>
        <br>

        {{!-- <!-- Buttons to Select Page View --> --}}
        <div class="container row" id="box4">
            <div class="container col" id="box5">

                <button id="managerBtn" type="button" class="btn">Manager</button>
            </div>
            <div class="container col" id="box6">
                <button id="foremanBtn" type="button" class="btn">Foreman</button>
            </div>
            <div class="container col" id="box12">
                <button id="customerBtn" class="btn">Customer</button>
            </div>
        </div>
    </div>
    <br>
    <br>

    {{!-- Display Map of Complete/Incomplete Jobs --}}
    <div class="container" id="box7">
        <div class="container text-white" id="box8">
            <h3 id="box8-text">View our most recent jobs!</h3>
        </div>
    </div>
    <br>
    <br>

    <div class="container" id="box9">
        <div class="container" id="box10">
            <div id="map"></div>
        </div>
    </div>




</div>