<link rel="stylesheet" href="/styles/selectView.css">

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <button id="managerBtn" type="button" class="btn btn-lg btn-outline-success">Manager Tools</button> 
    <button id="foremanBtn" type="button" class="btn btn-outline-success btn-lg">Foreman Tools</button>
    </form>
</nav>


<div class="container" id="box1">
    <br>
    <br>

    {{!-- Display Map of Complete/Incomplete Jobs --}}

    <div class="row" id="box8">
        <div id="box8-text">View our most recent jobs!</div>
        <img src="/images/selectBanner.jpg" alt="select view banner" id="selViewImg">
    </div>


    <div class="row" id="box9">
        <div id="map"></div>
    </div>

    {{!-- <img src="/images/"> --}}



</div>
<img src="/images/grass_PNG10865.png" alt="" id="grass-footer">
{{!-- <script> --}}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzpotGxOz77z1sqb0HSZM_vCb_BSPdZ1Y&callback=initMap" async
        defer></script>


{{!-- </script> --}}