<link rel="stylesheet" href="/styles/selectView.css">
<div class="container" id="box1">
    <div class="col-lg-12" id="box2">
        <div class="row" id="box3">
            <h3>Select Your Page View</h3>
        </div>
        
        <br>
        <br>

        {{!-- <!-- Buttons to Select Page View --> --}}
        <div class="row" id="box4">
            <div class="col-lg-4" id="box5">
                <button id="managerBtn" type="button" class="btn btn-danger">Manager</button>
            </div>
            <div class="col-lg-4" id="box6">
                <button id="foremanBtn" type="button" class="btn btn-warning">Foreman</button>
            </div>
            <div class="col-lg-4" id="box7">
                <button id="customerBtn" class="btn btn-success">Customer</button>
            </div>
        </div>
    </div>
    <br>
    <br>

    {{!-- Display Map of Complete/Incomplete Jobs --}}
    
    <div class="row" id="box8">
        <div id="box8-text">View our most recent jobs!</div>
        <img src="/images/selectBanner.jpg" alt="select view banner" id="selViewImg">
    </div>
    

    <div class="row" id="box9">
        <div id="map"></div>
    </div>





</div>