body {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("https://images.pexels.com/photos/1227648/pexels-photo-1227648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }

#project-info-form {
    background-color: darkslategrey;
    border: solid 0.25px black;
    padding-bottom: 20px;
    padding-top: 20px;
    color: burlywood;
}