body {
    background: url("/images/clouds-background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#box2 {
background-color: #084e2b;
color: white;
text-align: center;
padding-bottom: 20px;
border: solid 1px black;
}

#box3 {
flex-direction: column;
justify-content: center;
text-align: center;
}

#box4 {
text-align: center;
}

#box8 {
position: relative;
text-align: center;
color: white;
left: 15%;
margin-bottom: 50px;
}

#box8-text {
color: White;
position: absolute;
top: 50%;
left: 35%;
transform: translate(-50%, -50%);
font-size: 40px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}

#box9 {
flex-direction: column;
margin-bottom: 20px;
}

#managerBtn {
border: solid 1px black;
}

#foremanBtn {
border: solid 1px black;
}

#customerBtn {
border: solid 1px black;
}

@media (max-width: 991px) {
#selViewImg {
    opacity: 0;
}
#box8-text {
    color: black;
}
}


