body { 
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* .container {
    display: flex;
    flex-wrap: wrap;
} */

#box2 {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#box3 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#box4 {
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#box5 {
    flex-direction: column;
}

#box6 {
    flex-direction: column;
}

#box7 {
    flex-direction: row;
 
}

#box8 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* color: darkgoldenrod */
}

#box8-text {
    margin-top: 20px;
    color: maroon;

}

#box9 {
    flex-direction: row;
    margin-bottom: 20px;
}

#box10 {
    flex-direction: column;
}

#box11 {
    background-color: maroon;
    border: solid 1px black;
    padding-bottom: 20px;
    color: whitesmoke;
}

