body {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tableBody {
    background-color: white;
    border: solid 1px black;
    margin-top: 20px;
}

#managerBtn {
    margin-top: 20px;
    border: solid 1px white;
}

@media (min-width: 1200px) {
     .container {
        max-width: 1180px;
    }
}